

.footer-form{
    display: flex;
    justify-content: center;
    width: 50%;
}

.my-linear-bg{
    transition: 0.5s ease-in-out;
}

.my-linear-bg:hover{
    transform: scale(1.05);
}

.footer-form input{
    padding: 10px 40px;
    border: 1px solid white;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;    

}

.footer-form input:focus{
    outline:none
}

.footer-form button{
    padding: 0px 20px;
    border:none;
    color: white;
    cursor: pointer;
    background-color: #12346a;
    /* border-top-right-radius: 25px;
    border-bottom-left-radius: 25px; */
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.my-linear-bg{
    background:linear-gradient(60deg, #1e67e0, #3f80e3);
}

.footer-link{
    cursor: pointer;
    color: white;
    text-decoration: none;
}


@media only screen  and (max-width:600px){
    .footer-form input{
        padding: 10px 9px !important;
    }

    .footer-form{
        width: 30% !important;
    }
    
}